<div class="container animated fadeIn">
  <div class="title">
    <h1>TRABAJOS FREELANCE - Más recientes</h1>
  </div>
  <section class="freelance">
    <div class="card">
      <div class="imagen">
        <img src="../../../assets/img/1.png" alt="cinescondite" />
      </div>
      <div class="info">
        <div class="nombre">
          <h3>CINESCONDITE</h3>
        </div>
        <div class="link">
          <a href="https://cinescondite.com">Visitar</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="imagen">
        <img src="../../../assets/img/2.png" alt="cinescondite" />
      </div>
      <div class="info">
        <div class="nombre">
          <h3>MEGAH</h3>
        </div>
        <div class="link">
          <a href="http://megah.com.ar">Visitar</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="imagen">
        <img src="../../../assets/img/agenciaatalaya.jpg" alt="cinescondite" />
      </div>
      <div class="info">
        <div class="nombre">
          <h3>AGENCIA ATALAYA</h3>
        </div>
        <div class="link">
          <a href="http://agenciaatalaya.com/">Visitar</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="imagen">
        <img src="../../../assets/img/jetlag.jpg" alt="cinescondite" />
      </div>
      <div class="info">
        <div class="nombre">
          <h3>JETLAG BA</h3>
        </div>
        <div class="link">
          <a href="http://jetlagba.com/">Visitar</a>
        </div>
      </div>
    </div>
  </section>
</div>
