<header class="header">
  <div class="logo"><img src="../../../assets/img/logo2.png" alt="logo" /></div>
  <nav class="nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">SOBRE MI</a></li>
      <li>
        <a routerLink="/experiencia" routerLinkActive="active">EXPERIENCIA</a>
      </li>
      <!-- <li>
        <a routerLink="/repositorios" routerLinkActive="active">REPOSITORIOS</a>
      </li> -->
      <li>
        <a routerLink="/freelance" routerLinkActive="active"
          >TRABAJOS FREELANCE</a
        >
      </li>
    </ul>
  </nav>
</header>
