<div class="container animated fadeIn">
  <div class="title">
    <h1>EXPERIENCIA LABORAL</h1>
  </div>
  <section class="experiencia">
    <div class="imagen"></div>
    <div class="info">
      <ul>
        <li>
          Cognizant Softvision - Desarrollador Front-End<br />
          [ Angular 2+ - NodeJs - Docker - GIT ]<br />
          <span class="anos">2020 / 2021</span>
        </li>
        <li>
          Baufest - Desarrollo Front-End<br />
          [ HTML - CSS - Javascript - React - Angular - NodeJS - GIT ]<br />
          <span class="anos">2019</span>
        </li>
        <li>
          Infobae - Desarrollo Front-End<br />
          [ HTML - CSS - Javascript - React - AMP - SEO ]<br />
          <span class="anos">2018</span>
        </li>
        <li>
          Wunderman - Desarrollo Front-End<br />
          [ HTML - CSS - Javascript - React ]<br />
          <span class="anos">2015 / 2017</span>
        </li>
        <li>
          THET - Diseño y Desarrollo Web<br />
          [ HTML - CSS - Javascript - Jquery - Photoshop - Illustrator]<br />
          <span class="anos">2014 / 2015</span>
        </li>
        <li>
          Diseñador y Desarrollador Freelance<br />
          [ HTML - CSS - Javascript - Jquery - Photoshop - Illustrator ]<br />
          <span class="anos">2007 / 2014</span>
        </li>
      </ul>
    </div>
  </section>
</div>
