<div class="container animated fadeIn">
  <div class="title">
    <h1>SOBRE MÍ</h1>
  </div>
  <section class="sobremi">
    <div class="imagen">
      <img src="../../../assets/img/yo.jpg" alt="Sobre mi" />
    </div>
    <div class="info">
      <p>
        Desde que tengo 15 años empece a diseñar mis primeros sitios Web's por
        diversión con el bloc de notas y también con la ayuda de un programa de
        <b>Microsoft Office</b> que muchos recordarán: <b>FrontPage</b>.
      </p>
      <p>
        Lo que empezó como un hobby en el que diseñaba sitios de juegos que me
        gustaban, paso a ser una fuente de ingresos cuando empecé a tener mis
        primeros clientes.
      </p>
      <p>
        Dejé atrás <b>FrontPage</b> y las tablas para empezar a estudiar mas en
        profundidad <b>HTML</b> y <b>CSS</b>. Tiempo después me di cuenta que
        también tenía que seguir aprendiendo si queria realmente vivir de esto
        que tanto me gustaba y ahi fue cuando empece a aprender mi primer
        lenguaje de programación: <b>Javascritp</b>.
      </p>
      <p>
        Después de algunos años trabajando de forma freelance, decidí empezar
        una carrera profesional en alguna empresa donde pudiera también aprender
        de otras personas, trabajar en equipo y con clientes mas importantes que
        los que yo podía conseguir por cuenta propia.
      </p>
      <p>
        Eso fue por el año 2015, actualmente llevo 5 años trabajando en
        distintas empresas como <b>Desarrollador Front-End</b> y cada vez más
        metido en Back-End.
      </p>

      <h2>CONOCIMIENTOS - Avanzados</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS [ FlexBox, Bootstrap, CSS Grid, Foundation, Sass ]</li>
        <li>Javascript - ES7</li>
        <li>Angular 2+</li>
        <li>Typescript</li>
        <li>React</li>
        <li>GIT</li>
        <li>SEO</li>
        <li>Wordpress</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
      </ul>

      <h2>CONOCIMIENTOS - Intermedios</h2>
      <ul>
        <li>NodeJS</li>
        <li>SQL</li>
        <li>Docker</li>
        <li>MongoDB</li>
        <li>PHP</li>
        <li>Adobe XD</li>
      </ul>

      <h2>IDIOMAS</h2>
      <ul>
        <li>Ingles - Avanzado</li>
        <li>Portugues - Intermedio</li>
      </ul>
    </div>
  </section>
</div>
